* {
  transition: all 0.5s ease;
  cursor: default
}

.window {
  transition: none;
}



#wallpaper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  opacity: 0.8;
  filter: grayscale(50%)
}

#navbar {
  position: absolute;
  bottom: 0;
  height: 80px;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.16), 0 -1px 2px rgba(0, 0, 0, 0.23);
}

#time {
  color: #fff;
  height: 50px;
  margin: 0 auto;
  line-height: 50px;
  font-size: 45px;
  font-weight: 100;
  display: inline-block
}

#day {
  color: #fff;
  height: 15px;
  margin: 0 auto;
  line-height: 15px;
  font-size: 14px;
  font-weight: 100;
  display: inline-block
}

#timebox {
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  float: right;
  position: absolute;
  right: 0;
  display: inline-block;
  overflow: hidden;
  height: 74px;
  top: 3px;
  text-align: center
}

#start {
  float: left
}

#start i {
  color: rgba(255, 255, 255, 0.5);
  line-height: 80px;
  font-size: 65px;
  padding: 0 5px;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

#start i:hover {
  color: rgba(255, 255, 255, 0.85)
}

#apps {
  float: left
}

#apps span {
  height: 80px;
  float: left
}

#apps span i {
  opacity: 0.5;
  line-height: 80px;
  font-size: 70px;
  padding: 0 5px;
}

#apps span i:hover {
  opacity: 0.9
}

#apps .settings {
  color: olivedrab
}

#apps .files {
  color: #01a1ff
}

.window {
  pading: 25px 5px 5px 5px;
  display: inline-block;
  height: 450px;
  width: 550px;
  background: rgba(255, 255, 255, 0.9);
  left: 20px;
  top: 20px;
  position: absolute;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.window-title {
  color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 25px;
  line-height: 25px;
  font-weight: 100;
  background-color: rgba(107, 142, 35, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 13px
}

.window-title .buttons {
  position: absolute;
  right: 5px;
  top: 0;
}

.window-title .buttons i {
  font-size: 9px;
  padding: 3px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  margin: 3.5px 1px;
  color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

i.max:hover {
  background: #66cd00;
  color: #000
}

i.min:hover {
  background: #ffd700;
  color: #000
}

i.close:hover {
  background: #ff7f7f;
  color: #000
}

#cookieChoiceInfo {
  position: absolute;
  top: calc(25vh - 40px);
  left: 25vw;
  width: 50vw;
  background: rgba(255, 255, 255, 0.9);
}

#cookieChoiceInfo .cookie-choices-inner {
  width: calc(100% - 30px);
  height: calc(100% - 50px);
  padding: 30px 15px 15px 15px;
  margin-top: 15px;
}

#cookieChoiceInfo .cookie-choices-buttons {
  width: calc(100% - 20px);
  height: 40px;
  padding: 0;
  display: inline-block;
  position: absolute;
  left: 10px;
  bottom: 10px;
  margin: 0;
}

.cookie-choices-buttons a.cookie-choices-button {
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  display: inline-block;
  width: 25%;
  margin: 2px 10px;
  padding: 7px !important;
  border-radius: 5px;
  background: transparent;
  border: 1px solid olivedrab;
  box-sizing: border-box;
  font-weight: 100;
  font-family: 'Ubuntu', sans-serif;
  color: olivedrab;
}

.cookie-choices-buttons a.cookie-choices-button:before {
  width: 120%;
  height: 100%;
  background-color: #68B684;
  content: "";
  display: inline-block;
  position: absolute;
  left: -130%;
  transform: skewX(-25deg);
  top: 0;
  z-index:-1;
  transition: all 0.5s ease;
}

.cookie-choices-buttons a.cookie-choices-button:hover:before {
  width: 120%;
  height: 100%;
  background-color: red;
  content: "";
  display: inline-block;
  position: absolute;
  left: -50%;
}

.cookie-choices-buttons a.cookie-choices-button:after {
  width: 120%;
  height: 100%;
  background-color: red;
  content: "";
}

.cookie-choices-buttons a.cookie-choices-button:hover {
  background: #fff;
  border: 1px solid olivedrab;
  box-sizing: border-box;
}

#cookieChoiceInfo .cookie-choices-text {
  font-family: 'Ubuntu', sans-serif;
  color: #333;
  font-weight: 100;
  font-size: 14px;
}

#cookieChoiceInfo .window-title {
  font-family: 'Ubuntu', sans-serif;
}